<?xml version="1.0" encoding="UTF-8"?> <!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="exam.cart.dao.CartDao">
	<select id="chkCart" parameterType="java.util.Map" resultType="java.lang.Integer">
		SELECT COUNT(*)
		  FROM USER_CART_BUY_INFO
		 WHERE USER_NO = #{userNo}
		   AND PRDT_NO = #{prdtNo}
	</select>
	
	<insert id="addCart" parameterType="java.util.Map">
		INSERT INTO USER_CART_BUY_INFO(
				CART_NO
			,	PRDT_NO
			,	USER_NO
			,	CART_REG_DATE
		)
		VALUES(
				SEQ_USER_CART_BUY_INFO.NEXTVAL
			,	#{prdtNo}
			,	#{userNo}
			,	SYSDATE
		)
	</insert>
	
</mapper>

