<?xml version="1.0" encoding="UTF-8"?> <!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="exam.shop.dao.ShopDao">
	
	<select id="getBigDivList" resultType="exam.shop.dto.ShopMenuDto">
		SELECT BDIV_NO AS bDivNo
			 , BDIV_NAME AS bDivName
			 , ORDER_NO AS bDivOrder
			 , BDIV_CODE AS bDivCode
		  FROM SY_MENU_BIG_DIV
		ORDER BY ORDER_NO ASC
	</select>
	
	<select id="getSmallDivList" resultType="exam.shop.dto.ShopMenuDto">
		SELECT BDIV_NO AS bDivNo
			 , SDIV_NAME AS sDivName
			 , ORDER_NO AS bDivOrder
			 , SDIV_PATH AS sDivPath
			 , SDIV_CODE AS sDivCode
			 , SDIV_PATH_PARAM AS SDIVPARAM 
		  FROM SY_MENU_SML_DIV
		ORDER BY ORDER_NO ASC
	</select>
	
	<select id="getProductList" resultType="exam.shop.dto.ProductBasicDto">
		SELECT PRDT_NO
			 , PRDT_TYPE
			 , BDIV_CODE
			 , SDIV_CODE
			 , PRDT_NAME
			 , PRDT_WARN
			 , PRDT_DESC_PIC
			 , PRDT_AMT
			 , PRDT_PRICE
			 , PRDT_BRAND
			 , PIC_PATH
		  FROM (SELECT a.*, ROWNUM AS RN
				  FROM (SELECT PBI.PRDT_NO
							 , PBI.PRDT_TYPE
							 , PBI.BDIV_CODE
							 , PBI.SDIV_CODE
							 , PBI.PRDT_NAME
							 , PBI.PRDT_WARN
							 , PBI.PRDT_DESC_PIC
							 , PBI.PRDT_AMT
							 , PBI.PRDT_PRICE
							 , PBI.PRDT_BRAND
							 , PPI.PIC_PATH
						  FROM PRDT_BASIC_INFO PBI
						     , PRDT_PIC_INFO PPI
						 WHERE PBI.PRDT_NO = PPI.PRDT_NO
						   AND PPI.PIC_MAIN_FLAG = '1'
						ORDER BY PBI.PRDT_REG_DATE ASC
				   		) a
		   		)
		WHERE rn between#{pageBegin} AND #{pageEnd}
	</select>
	
	<select id="getProductListCnt" parameterType="java.util.Map" resultType="java.lang.Integer">
		SELECT COUNT(*)
		  FROM PRDT_BASIC_INFO PBI
		  	 , PRDT_PIC_INFO PPI
		 WHERE PBI.PRDT_NO = PPI.PRDT_NO
		   AND PPI.PIC_MAIN_FLAG = '1'
		ORDER BY PBI.PRDT_REG_DATE ASC
	</select>
</mapper>

